.card {
  display: flex;
  width: 100%;

  position: relative;
  cursor: grab;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.illustration {
  width: 240px;
  height: 120px;
}

.illustration > img {
  width: inherit;
  height: inherit;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  text-align: center;
}

.counter {

}