.container {
  display: grid;
  grid-template-columns: 320px 860px;
  column-gap: 60px;

  position: relative;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.navigation {

}

.navigation li {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.edit {
  height: 320px;
}

.caption {
  width: 320px;
}