:root {
  --header-height: 92px;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol, ul, li { 
  list-style: none; 
  margin: 0;
  padding: 0;
}

a { 
  text-decoration: none; 
  color: inherit;
}

/* #constructor {
  color: #fff;
}

#orders { 
  color: rgb(133, 133, 173);
}

#profile {
  color: rgb(133, 133, 173);
} */

#react-modals {
  position: relative;
}

.constructor-element.default {
  display: flex;
  align-items: center;
  justify-content: center;
}

.constructor-element.default  .constructor-element__image {
  display: none;
}

.constructor-element.default  .constructor-element__price {
  display: none;
}

.constructor-element.default  .constructor-element__action {
  display: none;
}

.page-form-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.page-form {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-form .input-field {

}

.page-form .action {

}

.page-form .actions {
  display: flex;
  align-self: end;
}

.page-form .additional-action {
  color: #8585AD;
}

.page-form .additional-action a {
  color: #4C4CFF;
}

.text-shadow {
  text-shadow:
    0px 4px 32px rgba(51, 51, 255, 0.5),
    0px 0px 8px rgba(51, 51, 255, 0.25),
    0px 0px 16px rgba(51, 51, 255, 0.25);
}

.ingredientPreview {
  width: 64px;
  height: 64px;

  background: linear-gradient(#131316, #131316) padding-box,  linear-gradient(to right, #801AB2, #4C4CFF) border-box;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}