body {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ol, ul, li { 
  list-style: none; 
  margin: 0;
  padding: 0;
}

a { 
  text-decoration: none; 
  color: inherit;
}

#constructor {
  color: #fff;
}

#orders { 
  color: rgb(133, 133, 173);
}

#profile {
  color: rgb(133, 133, 173);
}

#react-modals {
  position: relative;
}

.constructor-element.default {
  display: flex;
  align-items: center;
  justify-content: center;
}

.constructor-element.default  .constructor-element__image {
  display: none;
}

.constructor-element.default  .constructor-element__price {
  display: none;
}

.constructor-element.default  .constructor-element__action {
  display: none;
}