.container {
  display: flex;
  flex-direction: column;

  border: 2px solid #1C1C21;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background-color: #1C1C21;

  z-index: 0;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info:nth-child(2) {
  flex-direction: column;
  align-items: flex-start;
}

.id {

}

.timestamp {

}

.name {
  flex-grow: 1;
}

.status {
  flex-grow: 1;
}

.ingredients {
  display: flex;
}

.ingredient {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 64px;
  height: 64px;

  overflow: hidden;
}

.ingredient:not(:first-child) {
  margin-left: -15px;
}

.ingredient > img {
  width: inherit;
  height: 56px;
  object-fit: cover;
}

.ingredientMore {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 99;

  width: inherit;
  height: inherit;

  background: rgba(19, 19, 22, 0.4);
}

.price {
  display: flex;
}